@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css or any other global stylesheet */

/* Define primary color */
:root {
  --primary-color: #FF5349;
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}
